@import "../../mainVariables";
@import "../../mixins";
@import "../../fonts";

.header-wrapper{
  border-bottom: 1px solid $greyBorderColor;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
