$light-grey: #c9c6c6;

.slider-modal-wrapper {
  width: auto;
  max-width: 700px;
  .slider-modal-content {
    width: 100%;

    img {
      border-radius: 6px;
      max-width: 100%;
      max-height: 80vh;
      object-fit: cover;
      background-color: white;
    }

    .dialog-closing-btn {
      background-color: transparent;
      color: $light-grey;
      position: absolute;
      top: 25px;
      right: 25px;

      img {
        width: 24px;
      }
    }

    .slick-list {
      .slick-slide {
        img {
          width: 100%;
          object-fit: cover;
          max-height: 650px;

        }
      }
    }

    .slider-right-arrow, .slider-left-arrow {
      position: absolute;
      top: calc(50% - 20.5px);

    }

    .slider-right-arrow {
      right: -90px;
    }

    .slider-left-arrow {
      left: -90px;
    }
  }
}

@media all and (max-width: 800px) {
  .slider-modal {
    .slider-modal-content {
      width: 70%;
      margin-top: 50px;
      .dialog-closing-btn {
        top: -45px;

        img {
          width: 25px;
        }
      }

      .slider-right-arrow, .slider-left-arrow {
        img {
          width: 20px;
        }
      }
    }
  }
}


@media all and (max-width: 600px) {
  .slider-modal {
    .slider-modal-content {
      width: 100%;

      .dialog-closing-btn {
        right: 10px;
      }

      .slider-right-arrow, .slider-left-arrow {
        top: calc(50% - 30px);
      }

      .slider-right-arrow {
        right: 10px;
      }

      .slider-left-arrow {
        left: 10px;
        z-index: 1;
      }
    }
  }
}


//@media (max-width: 900px) {
//  .ant-modal {
//    max-width: calc(100vw - 80px);
//    margin: 8px auto;
//  }
//}
