@import "../mainVariables";

.profile {
  height: calc(100vh - 90px);

  .profile-content-wrapper {
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    float: right;
    //background: #f2f7fb;
    background-color: white;
    position: relative;

    .page-title {
      height: 75px;
      display: flex;
      align-items: center;
      color: black;
      font-family: Bold;
      padding: 0 30px;
      font-size: 24px;
      margin-bottom: 0;
    }

    .page-content {
      overflow-x: auto;
      height: calc(100vh - 165px);
    }
    .no-content-wrapper {
      width: 100%;
      height: calc(100% - 140px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;

      .no-content-img {
        width: 130px;
        height: 130px;
      }

      .no-result-text {
        font-size: 20px;
        color: $lightGreyColor;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .profile {
    height: calc(100vh - 90px);

    .profile-content-wrapper {
      width: 100%;
      height: calc(100vh - 140px);
      .page-title {
        display: none;
      }

      .page-content {
        height: calc(100vh - 140px);
      }
      .no-content-wrapper {
        .no-content-img {
          width: 100px;
          height: 100px;
        }

        .no-result-text {
          font-size: 16px;
          color: $lightGreyColor;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .profile {
    height: calc(100vh - 60px);

    .profile-content-wrapper {
      height: calc(100vh - 110px);
      .page-content {
        height: calc(100vh - 110px);
      }
    }
  }
}
